.footer-container{
    display: flex;
    justify-content: left;
    text-align: center;
    margin-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
}

.linkedin{
    max-width: 5vh;
    margin: 10px;
}


.github{
    display: flex;
    max-width: 7vh;
    padding-left: 30px;
}

