* styling of Intro */

.Intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.intro-text-isa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  margin-bottom: 100px;

}

.intro-btn{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

button {
  background-color: black;
  border: 1px solid #CE005B;
  width: 4rem;
  margin: 2rem;
  display: flex;
  justify-content: center;
  
}

.intro-btn {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  font-style: bold;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  background-color: black;
  

}

.avatar{
  width: 300px;
}

.maintitle-desktop{
    margin-bottom: 200px;
}

